html {
    height:100%;
}
body {
    background-repeat: no-repeat;
    background-size:cover;
}
p {
    margin: 2% 20%;
    background-color:rgba(0, 0, 0, 0.39);
    color:white;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.507);
    padding:10px;
    position:relative;
}
@media (max-width:850px){
    p {
        margin: 2% 10%;
    }
}
@media (max-width:650px){
    p {
        margin: 2% 2%;
    }
}
@media (max-width:550px){
    p {
        margin: 2% 1%;
        word-wrap: break-word;
    }
}