@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100&display=swap');
 
* {
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif;
}

body {
    margin:0px;
    padding:0px;
}
#colorContainer {
    height:100vh;
    /* background-repeat: no-repeat; */
    /* background-size:cover; */
    /* transition: background-color 1s */
}
#logContainer {
    position:absolute;
    bottom:0px;
    right:0px;
    padding:5px;
    background-color:rgba(0, 0, 0, 0.2);
    color:white;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.507);
}
#logContainer ol {
    max-height: 30vh;
    overflow: auto;
}
#logContainer ol li {
    cursor: pointer;
    user-select: none;
    opacity: 0.3;
}
#logContainer ol li:hover {
    opacity: 1;
}
#changeViewBtn {
    position:absolute;
    top:5px;
    right:5px;
    cursor: pointer;
}
#logContainer {
    transition: opacity 1s;
}
.hide {
    opacity: 0;
}


@media (max-width:550px){
   #logContainer {
       font-size:14px;
   }
}